@model Vidly.Models.Movie
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<ul>
    <li>Genre: @Model.Genre</li>
    <li>Launch Date: @Model.ReleaseDate</li>
    <li>Added Date: @Model.DateAdded</li>
    <li>Stock: @Model.NumberInStock</li>

</ul>

